@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", Arial, Helvetica, sans-serif;
}

/* Estilos da página principal */
body {
    margin: 0;
    position: relative;
      min-height: 100vh;
}

.texto {
  font-size: clamp(16px, 0.5vw, 20px);
    margin-bottom: 20px;
    text-align: center;
    color: black;
}

/*HOME*/
.main-page {
    background: black;
    background-image: url('../imagens/fundo-home.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 20px;
    box-sizing: border-box;
    color: #fff;
    text-shadow: 1px 1px 2px rgba(0,0,0,0.5);
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo img {
    margin: 30px 20px;
    width: 150px; /* Ajuste o tamanho do logo conforme necessário */
}

.hero-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 0 20px;
}

.txt-titulo {
    font-size: clamp(24px, 2.7vw, 48px);
    font-weight: bold;
    margin-top: 50px;
    text-align: center;
    margin-bottom: 10px;
}

div.txt-animado {
  color: white;
  font-size: 1.25em;
  font-weight: bold;
  margin-right: 30px;
   text-align: center;
}

.txt-animado span {
  position: relative;
  color: #c80101;
}

.txt-animado span::before {
  content: "Vanádio";
  color: #c80101;
  animation: words 20s infinite;
}

.txt-animado span::after {
  content: "";
  position: absolute;
  width: calc(100% + 8px);
  height: 100%;
  background-color: #272727;
  border-left: 3px solid #0a233a;
  right: -8px;
  animation: cursor 0.7s infinite, typing 20s steps(12) infinite;
}

@keyframes cursor {
  to {
    border-left: 3px solid #123F68;
  }
}

@keyframes words {
  0%,
  20% {
    content: "Cabelo";
  }
  21%,
  40% {
    content: "Barba";
  }
  41%,
  60% {
    content: "Sobrancelha";
  }
  61%,
  80% {
    content: "Cabelo";
  }
  81%,
  100% {
    content: "Barba";
  }
}

@keyframes typing {
  10%,
  15%,
  30%,
  35%,
  50%,
  55%,
  70%,
  75%,
  90%,
  95% {
    width: 0;
  }
  5%,
  20%,
  25%,
  40%,
  45%,
  60%,
  65%,
  80%,
  85% {
    width: calc(100% + 5px);
  }
}

.txt {
    font-size: clamp(16px, 0.5vw, 20px);
    margin-bottom: 20px;
    text-align: center;
}

.btn-agenda {
    width: 250px;
    height: 60px;
    text-decoration: none;
    background-color: #D62828;
    color: #fff;
    border: none;
    border-radius: 30px;
    font-size: 1em;
    cursor: pointer;
    font-weight: bold;
    text-transform: uppercase;
    transition: ease 0.5s all;
}

.btn-agenda:hover {
    transform: translateY(-5px);
    box-shadow: 0 0 15px #c80101;
}

.marcas-home {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
    margin-top: auto;
}

.logo-marca {
    height: 80px; 
    filter: drop-shadow(0 0 20px #0000005c);
}

/*MENU*/
.menu-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #E6F4FA; 
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.5s ease, visibility 0.5s ease;
    z-index: 99;
}

.menu-links {
    list-style: none;
    padding: 0;
    text-align: center;
}

.menu-item {
    font-size: 1.5em;
    font-weight: bold;
    color: #1C1C1C;
    text-decoration: none;
    margin: 20px 0;
    display: block;
}

.menu-overlay {
    opacity: 0;
    visibility: hidden;
}

#hamburger:checked ~ .menu-overlay {
    opacity: 1;
    visibility: visible;
}

#hamburger {
    display: none;
}

.hamburger {
  position: absolute; /* fica sempre fixo na tela */
  top: 95px;       /* distância do topo */
  right: 30px;     /* distância da direita */
  z-index: 9999;
  cursor: pointer;

}

.hamburger input {
  display: none;
}

.hamburger svg {
  /* The size of the SVG defines the overall size */
  height: 3em;
  /* Define the transition for transforming the SVG */
  transition: transform 600ms cubic-bezier(0.4, 0, 0.2, 1);
}

.line {
  fill: none;
  stroke: #D62828;
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke-width: 3;
  /* Define the transition for transforming the Stroke */
  transition: stroke-dasharray 600ms cubic-bezier(0.4, 0, 0.2, 1),
    stroke-dashoffset 600ms cubic-bezier(0.4, 0, 0.2, 1);
}

.line-top-bottom {
  stroke-dasharray: 12 63;
}

.hamburger input:checked + svg {
  transform: rotate(-45deg);
}

.hamburger input:checked + svg .line-top-bottom {
  stroke-dasharray: 20 300;
  stroke-dashoffset: -32.42;
}

/*ANIMAÇÕES*/
.fade-title {
  opacity: 0;
  transform: translateX(-100px);
  transition: opacity 1.2s ease-out, transform 1.2s ease-out;
}

.fade-img {
  opacity: 0;
  transform: scale(0.2);
  transition: opacity 1.5s ease-out, transform 1.5s ease-out;
}

.fade-title.show {
  opacity: 1;
  transform: translateX(0);
}

.fade-img.show {
  opacity: 1;
  transform: scale(1);
}

/*SOBRE*/

.sobre {
  display: flex;
  margin-top: 50px;
  transform: translateY(300px);
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-bottom: 50px;
}

.sobre img {
  width: 100vw;
}

.sobre .home-dev {
  width: 90vw;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 20px 0;
}

.sobre .home-dev .barra {
  width: 45vw;
  border-top: 3px solid red;
}

.sobre .home-dev .txt-sobre p {
  color: black;
}

.sobre .home-dev .txt-sobre h1 {
  color: black;
}

.sobre .txt {
  color: black;
  text-align: justify;
  margin: 0 20px 20px 20px;
}

.sobre .btn {
    width: 150px;
    height: 60px;
    text-decoration: none;
    background-color: #D62828;
    color: #fff;
    border: none;
    border-radius: 30px;
    font-size: 1em;
    cursor: pointer;
    font-weight: bold;
    text-transform: uppercase;
    transition: ease 0.5s all;
}

.btn:hover {
    transform: translateY(-5px);
    box-shadow: 0 0 15px #c80101;
}

/*SERVIÇOS*/
.serviços {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
  transform: translateY(300px);
}

.serviços .fundo {
  z-index: -1;
  width: 100vw;
  height: 100%;
  object-fit: cover;
  position: absolute;
  background-position: bottom;
}

.serviços h1{
  font-size: clamp(24px, 2.7vw, 48px);
  color: black;
  text-align: center;
}

.serviços p { 
  font-size: clamp(16px, 0.5vw, 20px);
  color: black;
  text-align: center;
  width: 70vw;
}

.serviços .cards {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 350px;
  height: 250px;
  background: #EAEAEA;
  border: 2px solid #C2C2C2;
  border-radius: 20px;
  padding: 10px;
  transition: ease 0.5s all;
}

.serviços .cards:hover {
  transform: scale(1.02);
  box-shadow: 0 0 20px #ad0000;
}

.serviços .img-card {
  width: 100px;
}

.serviços .cards h2 {
  font-size: clamp(20px, 2.5vw, 40px);
  color: black;
  text-align: center;
}

.serviços .cards p {
  font-size: clamp(16px, 0.5vw, 20px);
  color: black;
  text-align: center;
}

.serviços .btn {
    width: 150px;
    height: 60px;
    text-decoration: none;
    background-color: #D62828;
    color: #fff;
    border: none;
    border-radius: 30px;
    font-size: 1em;
    cursor: pointer;
    font-weight: bold;
    text-transform: uppercase;
    transition: ease 0.5s all;
}

.btn:hover {
    transform: translateY(-5px);
    box-shadow: 0 0 15px #c80101;
}

.serviços .destaque {
  width: 100vw;
}

/*AGENDA*/
.agenda {
  transform: translateY(300px);
  margin-top: 50px;
}

.agenda h1{
  font-size: clamp(24px, 2.7vw, 48px);
  color: #D62828;
  text-align: center;
  margin-top: 20px;
  margin-bottom: 20px;
}

.agenda .fundo-agenda {
  z-index: -1;
  width: 100vw;
  transform: translateX(-20px);
  object-fit: cover;
  position: absolute;
  background-position: center;
  outline: 1px solid red;
}

form {
  background: #C0392B;
  padding: 15px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: auto;
  border-radius: 10px;
  width: 60vw;
  margin-top: 20px;
}

form label input {
  width: 100%;
  margin: 5px;
  border-radius: 5px;
  border: none;
}

form label input .service {
  width: 400px;
}